<div class="box">
    <div class="d-flex justify-content-center align-items-center">
        <div >
            <img width="250px" [src]="contact.photo" alt="gvgguu">
            <div class="card-body"><h3 class="card-title mt-2">{{contact.name}}</h3>
           <div >
                <h5><i class="fa-regular fa-id-card fa-fade mt-3"></i> {{contact.id}} </h5>
                <h5><i class="fa-solid fa-mobile-screen-button fa-fade"></i> {{contact.mobile}} </h5>
                <h5><i class="fa-regular fa-envelope fa-fade"></i> {{contact.email}} </h5>
                <h5><i class="fa-solid fa-building fa-fade"></i> {{contact.company}} </h5>
                <h5><i class="fa-solid fa-briefcase fa-fade"></i> {{contact.title}} </h5>
                <h5><i class="fa-solid fa-people-group fa-fade"></i> {{group}} </h5>
                </div>
           </div>
           
        </div>
    </div>
    <div>
        <button routerLink="" class="btn btn-light mb-3 mt-3">Back to contact</button></div>
</div>